{%extends "base.html"%}{%block style%}

<link
      rel="stylesheet"
      href="../static/tablesort.css"
    />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock%} {% block title%}Home{%endblock%} {%block content%}
</br>
<h3 align="center">UTC MENS BASKETBALL</h3>

<h1 align="center">Basic Player - {{player.name}}</h1>
</br>


<a href = "/basic_player" ><button  class="btn btn-primary" ><h4>Back</h4></button></a>
</br>
</br>
<div class="table-responsive">
<table class='table table-striped'>
  <thead class = 'thead-dark'>
  <tr>
    <th>Team</th>
    <th>FGM</th>
    <th>FGA</th>
    <th>3FGM</th>
    <th>3FGA</th>
    <th>eFG%</th>
    <th>FTM</th>
    <th>FTA</th>
    <th>FT%</th>
    <th>Assist +</th>
    <th>ESQ Avg</th>
  </tr>
</thead>
<tbody>
  {%for i in range(0,(games | length))%}
  <tr>
    <td>{{games[i].team}} {{games[i].date}}</td>
    <td>{{fgm[i]}}</td>
    <td>{{fga[i]}}</td>
    <td>{{fgm3[i]}}</td>
    <td>{{fga3[i]}}</td>
    {%if efg[i] != None%}
    <td>
      {{efg[i]}}{{"%"}}</td>
      {%else%}
      <td>
        {{efg[i]}}</td>
      {%endif%}
    <td>{{ftm[i]}}</td>
    <td>{{fta[i]}}</td>
    {%if ftperc[i] != None%}
    <td>
      {{ftperc[i]}}{{"%"}}</td>
      {%else%}
      <td>
        {{ftperc[i]}}</td>
      {%endif%}
    <td>{{assist[i]}}</td>
    <td>{{esq[i]}}</td>
  
  </tr>
  {%endfor%}
</tbody>
  <tr>


    
    
    <td>TOTAL</td>
    <td>{{fgm_s}}</td>
    <td>{{fga_s}}</td>
    <td>{{fgm3_s}}</td>
    <td>{{fga3_s}}</td>
    {%if efg_s == 0%}
    <td>None</td>
    {%else%}
    <td>{{efg_s}}{{"%"}}</td>
    {%endif%}
    <td>{{ftm_s}}</td>
    <td>{{fta_s}}</td>

    {%if ftperc_s == 0%}
    <td>None</td>
    {%else%}
    <td>{{ftperc_s}}{{"%"}}</td>
    {%endif%}



    <td>{{assist_s}}</td>



    {%if esq_s == 0%}
    <td>None</td>
    {%else%}
    <td>{{esq_s}}</td>
    {%endif%}
    
  </tr>
</table>
</div>
{%endblock%}
{%block scripts%}

<script type="text/javascript" src="../static/tablesort.js"></script>
{%endblock%}