{%extends "base.html"%}{%block style%}

<link
      rel="stylesheet"
      href="../static/tablesort.css"
    />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock%} {% block title%}Home{%endblock%} {%block content%}
</br>
<h3 align="center">UTC MENS BASKETBALL</h3>

<h1 align="center">Games</h1>
</br>



<div class="table-responsive">
<table class='table table-striped'>
  <thead class='thead-dark'>
  <tr>
    <th>Game</th>
    <th>Poss</th>
    <th>Chances</th>
    <th>FGM-FGA</th>
    <th>3FGM-3FGA</th>
    <th>FTM-FTA</th>
    <th>Assist +</th>
    <th>Open 3</th>
    <th>C&#38;S Jumper</th>
    <th>Poss Length</th>
    <th>Tag %</th>
    <th>Trigger Time</th>
    <th>Bolt Time</th>
    <th>Paint Time</th>
    <th>Poss with Paint Touch</th>
    <th>Post Ups</th>
    <th>Total Passes</th>
    <th>Passes / Poss</th>
    <th>Avg Touches</th>
  </tr>
</thead>
<tbody>
  {%for i in range(0,(games | length))%}

   
  <tr>
    
    
    {%for j in range(0,(stats[i] | length))%}
    <td>{{stats[i][j]}}</td>
    {%endfor%}

   
  </tr>
  
  {%endfor%}
</tbody>
  <tr>
    <td>Total</td>
    {%for i in range(0,(sums | length))%}
    <td>{{sums[i]}}</td>
    {%endfor%}
  </tr>
</table>
</div>
</br>
</br>
</br>

















{%endblock%}
{%block scripts%}

<script type="text/javascript" src="../static/tablesort.js"></script>

{%endblock%}