{%extends "base.html"%} {% block title%}Home{%endblock%} {%block content%}
</br>
<h1 align="center">Player View</h1>
<h3 align="center">UTC MENS BASKETBALL</h3>


    
<table border = "2em">
  <tr>
    <th>Player</th>
    <th>FGM</th>
    <th>FGA</th>
    <th>3FGM</th>
    <th>3FGA</th>
    <th>eFG%</th>
    <th>FTM</th>
    <th>FTA</th>
    <th>FT%</th>
    <th>Assist +</th>
    <th>ESQ Avg</th>
  </tr>
  
  {%for i in range(0,(players | length))%}

    {% set efgb = 0 %}
    {%set ftpercb = 0 %}
    {%set esqb = 0 %}
  <tr>
    

    {%if efg[i] != None%}
      {%set efgb = efg[i] %}
      {%endif%}

    {%if ftperc[i] != None%}
      {%set ftpercb = ftperc[i] %}
      {%endif%}

    {%if esq[i] != None%}
      {%set esqb = esq[i] %}
      {%endif%}
      
    <td><a onClick="enterPlayer({{players[i].id}}, {{fgm[i]}}, {{fga[i]}}, {{fgm3[i]}}, {{fga3[i]}} ,  {{efgb}} , {{ftm[i]}}, {{fta[i]}}, {{ftpercb}} ,{{assist[i]}}, {{esqb}})">{{players[i].name}}</a></td>
    <td>{{fgm[i]}}</td>
    <td>{{fga[i]}}</td>
    <td>{{fgm3[i]}}</td>
    <td>{{fga3[i]}}</td>
    {%if efg[i] != None%}
    <td>
      {{efg[i]}}{{"%"}}</td>
      {%else%}
      <td>
        {{efg[i]}}</td>
      {%endif%}
    <td>{{ftm[i]}}</td>
    <td>{{fta[i]}}</td>
    {%if ftperc[i] != None%}
    <td>
      {{ftperc[i]}}{{"%"}}</td>
      {%else%}
      <td>
        {{ftperc[i]}}</td>
      {%endif%}
    <td>{{assist[i]}}</td>
    <td>{{esq[i]}}</td>
  
  </tr>
  {%endfor%}
</table>
{%endblock%}
