{%extends "base.html"%} {%block style%}

<link
      rel="stylesheet"
      href="../static/tablesort.css"
    />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock%}{% block title%}Home{%endblock%} {%block content%}
</br>
<h1 align="center">UTC MENS BASKETBALL</h1>
<h3 align="center">Player Shot Types</h3>



    
<table class='table table-striped'>
  <thead class = 'thead-dark'>
  <tr>
    <th></th>
    <th>SQ Points</th>
    <th>Points</th>
    <th>SQ Points/Trigger</th>
    <th>Points/Trigger</th>
    <th>Instances</th>
  </tr>
</thead>
  
  {%for i in range(0,(data | length))%}

   
  <tr>
    {%for j in range(0,(data[i] | length))%}

    <td>{{data[i][j]}}
    {%endfor%}
  </tr>
  
  {%endfor%}
  
    
  </tr>
</table>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{%endblock%}
{%block scripts%}

<script type="text/javascript" src="../static/tablesort.js"></script>
{%endblock%}